.main-time {
  flex: 1;
}
.main-time h2 {
  font-size: 3rem;
}
.infoBox {
  background-color: #585a5c;
  text-align: center;
  color: #fff;
  flex: 1;
  margin-top: 0.2rem;
  padding: 0.2rem 0;
}
.infoBox h2 {
  font-size: 2.6rem;
  padding-bottom: 0.3rem;
}
.infoBox p {
  letter-spacing: 0.2rem;
  font-size: 1rem;
  padding-bottom: 0.3rem;
}
.loginBtnmain {
  text-align: center;
  flex: 1;
}
.loginBtnmain img {
  width: 7.0rem;
  margin: 2px auto;
  cursor: pointer;
}
.formDivMAin {
  background-color: #b0b5b7;
  flex: 4;
  display: flex;
  flex-direction: column;
}
.imgSetting {
  object-fit: cover;
  width: 75%;
  border-radius: 6px;
}
.carouselBack {
  background-color: #e4e4e4;
}
.carouselBackdetail {
  background-color: #e4e4e4;
  flex: 1;
}
.emptyBoxes {
  margin-top: 0.5rem;
}
.timeBox {
  flex: 2;
  margin-top: 0.5rem;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailBox h6{
  font-size: 1.5rem;
}
.detailBox h3{
  font-size: 3rem;
  font-weight: 400;
}
.detailBox p {
  height: 5rem;
  width: auto;

  overflow: auto;
  scroll-behavior: smooth;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.detailBox p::-webkit-scrollbar {
  display: none;
}
.divseting {
  border: 3px solid #333333;
  width: 5rem;
  height: 4rem;
  border-radius: 0.5rem;
  text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

}
.TwoDiv {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.TwoDiv .timeBox h3{
  font-size: 10rem;
  font-weight: 200;
}
/* /////////////////////////////////////// Media Query /////////////////////////////////////////// */

@media only screen and (min-width: 768px) {
  .main-time h2 {
    font-size: 2.2rem;
  }
}


 /* @media only screen and (min-width: 759px){

  .mobile-screenn{
    display: none !important;
  }
  .desktopscreen{
    display: block !important;
  }
  
  }  */